<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137928604-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137928604-1');
</script>

<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Params.Categories }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ .Site.Params.Description }}",
      "inLanguage" : "en-US",
      "author" : "{{ .Site.Params.author }}",
      "creator" : "{{ .Site.Params.author }}",
      "publisher": "{{ .Site.Params.author }}",
      "accountablePerson" : "{{ .Site.Params.author }}",
      "copyrightHolder" : "{{ .Site.Params.author }}",
      "copyrightYear" : "2019"
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "url" : "{{ .Permalink }}",
      "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
  }
</script>
